h1 {
	margin: 20px 0;
}

.btn-mini {
	margin: 3px;
	line-height: 1.2;
	padding: 0;
	line-height: 1;
	padding: 0 0 0.22em 0;
}

.btn:hover {
	background-color: #A4A4A4;
}

.btn-plan {
	margin: 1px;
	width: 98%;
	color: #000;
	background-color: #999;
	border-color: #333;
}

#addButton {
	float: right;
}

#plans {
	/*max-width: 200px;*/
	font-color: #000000;
	background-color: #ffffff;
	border-style: none;
	/* 文字列はみだしたぶんを...へ */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#plans:hover {
	background-color: #A4A4A4;
}

span.break{
  word-wrap: break-word;
}



/* スマホだけに適用するCSS */
@media screen and ( max-width:530px ) {
	#addButton {
		margin: 0;
	}
	#plans {
		max-width: 100px;
	}
}
