h2 {
	margin: 20px 0;
}

#rec-button{
	padding: 0 10px 0 0px;
}

#inputForm form div label {
	font-size: 20px;
	float: left;
}

#inputForm form div input {
	margin: 10px 0;
}

#createForm form div label {
	font-size: 20px;
	float: left;
}

#createForm form div input {
	margin: 10px 0;
}

#createForm {
	display: none;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:530px ) {

}
