h2 {
	margin: 20px 0;
}

#rec-button{
	padding: 0 10px 0 0px;
}

#inputForm form div label {
	font-size: 20px;
	float: left;
}

#inputForm form div input {
	margin: 10px 0;
}

#createForm form div label {
	font-size: 20px;
	float: left;
}

#createForm form div input {
	margin: 10px 0;
}

#createForm {
	display: none;
}

#btn {
	margin: 10px auto;
	display: flex;
}

.outLineGroup {
	padding: 0.5em 1em;
    color: #000000;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.title {
	margin: 1em 0;
	text-align: center;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:530px ) {

}
