h1 {
	margin : 20px 0;
}

#inputForm form div label {
	font-size : 20px;
	float : left;
}

#inputForm form div input {
}

#linkCreate{
	margin : 10px 0;
}

#submit{
	margin : 10px 0;
}

#submit {
}

#LoginBtn {
	display: flex;
}

.outLineGroup {
	padding: 0.5em 1em;
    color: #000000;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.title {
	margin: 1em 0;
	text-align: center;
}