h1 {
	margin : 20px 0;
}

#inputForm form div label {
	font-size : 20px;
	float : left;
}

#inputForm form div input {
}

#linkCreate{
	margin : 10px 0;
}

#submit{
	margin : 10px 0;
}

#submit {
}

#LoginBtn {
	display: flex;
}
