<<<<<<< HEAD
body {
	background-color: #f1f1f1;
	color: #333;
}
h1 {
=======
h2 {
>>>>>>> 522a6154216dd1f990b9a32c5d245f09d7b032b6
	margin : 20px 0;
}
.table-content {
	border: 1px solid #007bff;
	border-radius: 8px;
	margin-top: 50px;
	background-color: white;

}
.table-content > table > thead > tr > th{
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
table {
    /*border-collapse: initial;*/
		margin-bottom: 0px;
}
.table td, .table th {
    border-top: initial;
}
.bg-blue {
	background-color: #007bff;
}
.color-white {
	color: white;
}
.add-button {
	background-color: #ff4081;
}
.form-group {
	display: flex;
	margin: 0;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#tableChangeButton {

}

@media screen and (min-height: 667px){
#allDayShopping , #toDayShopping{
	height: 350px;
}
}

<<<<<<< HEAD
#allDayShopping , #toDayShopping {
	height: calc(100vh - 148px);

=======
@media screen and (max-height: 666px){
#allDayShopping , #toDayShopping{
	height : 290px;
}
>>>>>>> 522a6154216dd1f990b9a32c5d245f09d7b032b6
}

#shopping {
	height : 400px;
}

#shopping .listCheck {
	width : 60px;
}

#addShopping {
	padding : 1vh 1vw;
	border: 1px #999 solid;
	/*background-color: #d3d3d3;*/
	border-radius: 0.5vw;
	background-color: #007bff;
	position: absolute;
	bottom: 0px;


}

#addShopping input {
	height : 38px;
	margin-left: 0;
	float: left;
}

#addShopping #amount {
	margin: 0;
	float: left;

	border-style: groove;

	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}

#addShopping button {
	margin: 0;
	float: right;
}

#addShopping:after {
	display: block;
	clear: both;
	content: "";
}

#allDayShopping {
	display: none;
}
/* ---------------------------------------------------------------------------------------- */
@media (max-width:576px) {
	.add {
		width: 80px;
	}
	#addshopping {
		padding: 0;
	}
	#amount {
		width: 80px;
		padding: 0 0 0 10px;
	}
	#allDayShopping , #toDayShopping {
		height: calc(100vh - 225px);
	}
}
