h2 {
	margin : 20px 0;
}

#tableChangeButton {

}

@media screen and (min-height: 667px){
#allDayShopping , #toDayShopping{
	height: 350px;
}
}

@media screen and (max-height: 666px){
#allDayShopping , #toDayShopping{
	height : 290px;
}
}

#shopping {
	height : 400px;
}

#shopping .listCheck {
	width : 60px;
}

#addShopping {
	margin : 20px 0;

}

#addShopping input {
	height : 38px;
	margin-left: 0;
	float: left;
}

#addShopping #amount {
	margin: 0;
	float: left;

	border-style: groove;

	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}

#addShopping button {
	margin: 0;
	float: right;
}

#addShopping:after {
	display: block;
	clear: both;
	content: "";
}

#allDayShopping {
	display: none;
}
