h1 {
	margin: 20px 0;
}

#tableChangeButton {
	float:right;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

#toDayTodo , #allDayTodo {
	height: 480px;
}

#toDayTodo .listCheck , #allDayTodo .listCheck {
	width: 60px;
}

#allDayTodo {
	display: none;
}

#addTodo {
	margin: 20px 0;
}

#addTodo input {
	margin-left: 0;
	float: left;
}

#addTodo button {
	margin-right: 0;
	float: right;
}

#addTodo:after {
	display: block;
	clear: both;
	content: "";
}