h2 {
	margin: 20px 0;
	font-size:calc(20px + 3vw);
}

#rec-button{
	padding: 0 10px 0 0px;
}
.toDoTable , .allDayTodoTable {
	margin-top: 0;
	border-radius: 8px;
	border-collapse: separate;
	background-color: #fff;
	border-spacing: 0;
	padding-bottom: 6px;
	border: solid 1px #007bff;
}
.toDoTable > thead > tr >th ,.allDayTodoTable > thead > tr > th {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}


#tableChangeButton {
	float:right;
}


@media screen and (min-height: 667px){
#toDayTodo , #allDayTodo {
	height: 400px;
	font-size: calc(1px + 2vw);
}
}

@media screen and (max-height: 666px){
#toDayTodo , #allDayTodo {
	height : 290px;
	font-size:calc(1px + 2vw);
}
}

#toDayTodo .listCheck , #allDayTodo .listCheck {
	width: 60px;

}

#allDayTodo {
	display: none;
}

#addTodo {
	margin: 0;
	padding: 10px 1vw;
	border-radius: 5px;
	border: 1px #999 solid;
	position: absolute;
  bottom: 0px;

}

#addTodo input {
	margin-left: 0;
	float: left;
}

#addTodo button {
	margin-right: 0;
	float: right;
}

#addTodo:after {
	display: block;
	clear: both;
	content: "";
}
