#header{
	padding:0 5px 0 5px;
}

#groupInfo {
	margin: 20px 0;
}

@media screen and (max-width: 766px){
	#messageHead , #calendarHead{
		border-top: solid 1px #f5f5f5;
		border-bottom: solid 1px #f5f5f5;
		font-size: calc(10px + 3vw);
		padding: 10px 10px 10px 10px;
	}
}
@media screen and (min-width: 767px){
	#calendarHead{
		padding: 10px 0px 10px 10px;
	}
	#messageHead{
		padding: 10px 10px 10px 10px;
	}
	#messageHead , #calendarHead{
		border-top: solid 1px #f5f5f5;
		border-bottom: solid 1px #f5f5f5;
		font-size: calc(10px + 3vw);
	}
}

#message {
	max-height: 200px;
	font-size: 50px;
	marign-bottom: 0;
	width: 200px + 10vw;
}

#message table {
	font-size: 20px;
	width: 100%;
}

#message td:nth-child(1) {
	width: 140px;
}


#addMessage_form {
	margin-bottom: 20px;
}

#addMessage_form div input {
	float: left;
}

#addMessage_form div button {;
	float: right;
}

#addMessage_form:after {
	display: block;
	clear: both;
	content: "";
}

#calendar {
	margin-bottom: 20px;
	max-height: 200px;
	font-size: 20px;
	float: left;
	border-bottom: solid 1px #f5f5f5;
}

#calendar .listDate {
	font-size: 20px;
}

#calendar td:nth-child(1) {
	font-size:20px;
	width: 130px;
}

#linkBtn {
	float: right;
}

#linkBtn input {
	margin-bottom:   15px;
}


#linkBtn-All {
	display: flex;
}

@media screen and (min-width: 767px){
	#linkBtn-All {
		display: flex;
		flex-direction: column;
	}
}


#linkBtn .btn1:hover, #linkBtn .btn2:hover, #linkBtn .btn3:hover,
#linkBtn .btn4:hover {
	background-color: #A4A4A4;
}

p {
	font-size: calc(1.8vw + 10px);
	text-decoration: underline;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:530px ) {
	#message table {
		font-size: 20px;
		width: 500px;
	}
	#message td {
		padding: 1px;
	}
	#message td:nth-child(1) {
		width: 100px;
	}
	#message td:nth-child(2) {

	}

	#calendar table {
		font-size: 20px;
		width: 500px;
		heigit: 200px;
	}
	#calendar td {
		padding: 1px;
	}
	#calendar td:nth-child(1) {
		font-size:15px;
		width: 50px;
	}
	#calendar td:nth-child(2) {
		width: 70px;
	}
}
