#groupInfo {
	margin: 20px 0;
}

#message {
	height: 250px;
	font-size: 50px;
	marign-bottom: 0;
	width: auto;
}

#message table {
	font-size: 20px;
	width: 100%;
}

#message td {
	
}

#message td:nth-child(1) {
	width: 140px;
}

#message td:nth-child(2) {
	width: 80px;
}

#message td:nth-child(3) {
	
}

#addMessage_form {
	margin-bottom: 20px;
}

#addMessage_form div input {
	float: left;
}

#addMessage_form div button {;
	float: right;
}

#addMessage_form:after {
	display: block;
	clear: both;
	content: "";
}

#calendar {
	margin-bottom: 20px;
	height: 400px;
	font-size: 20px;
	float: left;
}

#calendar .listDate {
	font-size: 20px;
}

#calendar td:nth-child(1) {
	font-size:20px;
	width: 130px;
}

#linkBtn {
	float: right;
}

#linkBtn input {
	margin-bottom: 30px;
}

#linkBtn p {
	text-decoration: underline;
}

#linkBtn .btn1:hover, #linkBtn .btn2:hover, #linkBtn .btn3:hover,
	#linkBtn .btn4:hover {
	background-color: #A4A4A4;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:530px ) {
	#message table {
		font-size: 20px;
		width: 500px;
	}
	#message td {
		padding: 1px;
	}
	#message td:nth-child(1) {
		width: 100px;
	}
	#message td:nth-child(2) {
		width: 70px;
	}
	
	#calendar table {
		font-size: 20px;
		width: 500px;
		heigit: 250px;
	}
	#calendar td {
		padding: 1px;
	}
	#calendar td:nth-child(1) {
		font-size:15px;
		width: 40px;
	}
	#calendar td:nth-child(2) {
		width: 70px;
	}
}