#topHead{
	display: flex;
}

#logout{
	margin:25px 0;
}

#rec-button{
	padding: 0 10px 0 0px;
}

#groupInfo {
	margin: 20px 0;
	font-size: calc(3px+1vw);
}

#messageHead , #message{
		margin: 0 auto;
		border-radius: 5px;
		width: calc(100% - 10px);

}
@media screen and (max-width: 766px){
#calendarHead , #calendar{
		margin: 0  0 0 5px;
		border-radius: 5px;
		width: calc(100% - 10px);
}
}
@media screen and (min-width: 767px){
	#calendarHead , #calendar{
			margin: 0  0 0 5px;
			border-radius: 5px;
			width: calc(66%);
	}
}

#calendar_table{
	border-radius : 5px;
}

#messageHead , #calendarHead{
	overflow: hidden;
}

#calendar {
	padding: 0;
}
@media screen and (max-width: 766px){
	#messageHead , #calendarHead{
		border-top: solid 1px #bbb;
		border-bottom: solid 1px #777;
		font-size: calc(4px + 1vw);
		padding: 5px 10px 5px 10px;
		color: #fff;
	}
}
@media screen and (min-width: 767px){
	#calendarHead{
		padding: 5px 0px 5px 10px;
	}
	#messageHead{
		padding: 5px 10px 5px 10px;
	}
	#messageHead , #calendarHead{
		border-top: solid 1px #bbb;
		border-bottom: solid 1px #777;
		font-size: calc(7px + 1vw);
		color: #fff;
	}
}


@media screen and (min-width: 767px){
#message {
	max-height: 200px;
	font-size: calc(4px + 1vw);
	marign-bottom: 0;
	width: 200px + 10vw;
	}
}
@media screen and (max-width: 766px){
	#message {
		max-height: 200px;
		font-size: calc(4px + 1vw);
		marign-bottom: 0;
		width: 200px + 10vw;
		}
}

@media screen and (min-width: 767px){
#message table {
	font-size: calc(4px + 1vw);
	width: 100%;
	margin: 0;
}
}
@media screen and (max-width: 766px){
#message table {
	font-size: calc(4px + 1vw);
	width: 100%;
}
}

#message td:nth-child(1) {
	width: 140px;
}


#addMessage_form {
	margin-bottom: 20px;
}

#addMessage_form div input {
	float: left;
}

#addMessage_form div button {;
	float: right;
}

#addMessage_form:after {
	display: block;
	clear: both;
	content: "";
}

@media screen and (min-width: 767px){

	#calendar {
		margin-bottom: 20px;
		max-height: 500px;
		font-size: calc(4px + 1vw);
		float: left;

	}
	#calendarHead {
		width: 66%
	}
}

@media screen and (max-width: 766px){

	#calendar {
		margin-bottom: 20px;
		max-height: 200px;
		font-size: calc(4px + 1vw);
		float: left;

	}
}

#calendar .listDate {
	font-size: calc(4px + 1vw);
}

#calendar td:nth-child(1) {
	font-size:CALC(4px + 1vw);
	width: 130px;
}

@media screen and (min-width: 767px){

	#linkBtn {
		float: right;
		position: relative;
		bottom : 50px;
	}
}

@media screen and (max-width: 766px){

	#linkBtn {
		float: right;
	}
}

#linkBtn input {
	margin-bottom:   15px;
}


#linkBtn-All {
	display: flex;
}

@media screen and (min-width: 767px){
	#linkBtn-All {
		display: flex;
		flex-direction: column;
	}
}


#linkBtn .btn1:hover, #linkBtn .btn2:hover, #linkBtn .btn3:hover,
#linkBtn .btn4:hover {
	background-color: #A4A4A4;
}

p {
	font-size: calc(1.8vw + 5px);
	text-decoration: underline;
}

/* スマホだけに適用するCSS */
@media screen and ( max-width:530px ) {

	#groupInfo {
		margin: 20px 0;
		font-size: calc(1px + 3vw);
	}

	#message table {
		font-size: calc(1px + 3vw);
		width: 500px;
	}
	#message td {
		padding: 1px;
	}
	#message td:nth-child(1) {
		width: 100px;
	}
	#message td:nth-child(2) {

	}

	#calendar table {
		font-size: calc(1px + 3vw);
		width: 500px;
		heigit: 200px;
	}
	#calendar td {
		padding: 1px;
	}
	#calendar td:nth-child(1) {
		font-size:15px;
		width: 50px;
	}
	#calendar td:nth-child(2) {
		width: 70px;
	}
}
